
body {background:$colorBlackTrue;

	font-family:$fontMain;
	}


.main {background:$colorWhite;
		}


.parallax-window {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: inherit;

  background-repeat: no-repeat;

  background-size: contain;

  background-position: 50% 0;

  // height: 500px;
  
  // height:100vh;


}


.hero {width:100%;
		display:flex;
		background:$colorBlackTrue;
		background:$colorWhite;

		justify-content:space-between;
.hero__image {
	// margin-top:30px;
	position:relative;
	max-width:1480px;
	overflow:hidden;
	margin:0 auto;
	background:$colorWhite;
	
	// position:fixed;
	// left:0;
	// right:0;
	// height:auto;
	// height:100%;
	// height:100vh;
	// opacity:.1;

	img{width:100%;
		display:block;
		filter: contrast(200%) brightness(70%);
	}
	&:after{
		content:"front-end developer";
		position:absolute;
		  // top:50%;
		  color:$colorWhite;
		  
		  bottom:23%;
		  font-weight:400;
		  z-index:100;
		  margin-left:2vw;
		  font-family:$fontMain;
		  text-transform:uppercase;
		  font-size:calc(.2rem + 2.5vw);}
	}

}






.workThumbs li {transition:all .8s ease, opacity 1.6s ease;
				transform:translateX(0);
				opacity:1;}
.workThumbsOffScreen{
 li:nth-of-type(odd){
	transform:translateX(-100%);
	opacity:0;
}
li:nth-of-type(even){
	transform:translateX(100%);
	opacity:0;
}
}


.work__wrapper{background:$colorWhite;
			   width:100vw;
				// margin-top:110vh;
				margin-top:calc(1px + 60vw);
				background-color:$colorWhite;
				position:relative;
				

			}
.work {
	.work__title{
		font-weight:900;
		// letter-spacing:-3px;
		color:$colorMidnight;
		font-size:3rem;
		padding:1.8rem;
	}
	max-width:1280px;
	margin:0 auto;
	padding-top:25px;
	background:$colorWhite;
	
      .workThumbs {
    list-style: none;
    width: 100%;
    position: relative;
    margin: 20px auto 0 auto;;
    padding: 0;
    display:flex;
    flex-wrap:wrap;
    min-height:100%;
    height:100%;
    position:relative;
}



.workThumbs li {
		img{}
		&:hover{transition-delay:.4s;
				img{
			filter: contrast(300%) brightness(200%) grayscale(100%);
			transition:filter .2s .1s ease;
		}
		}

	.imageLink {cursor:default;
				}

	a{color:$colorWhite;
	  height:100%;}
    margin: 0;
    color:$colorWhite;
    position: relative;
    width:50%;
    flex: 1 1 50%;
    min-height:100%;
    display:inline-block;
    padding:0;
	img{object-fit: cover;
	    height:100%;
	    display:inline-block;
	}
}
.workThumbs li a,
.workThumbs li a img {
    display: block;
    position: relative;
}
.workThumbs li a {
    overflow: hidden;
}


.clyde {
    position: absolute;
    background:$colorBlueAlpha;
    width: 100%;
    height: 100%;
    text-align:center;
    top:-100%;
}

.disabled {
	cursor:default;
	pointer-events:none;
}

		.wordBox       {
						&:hover{
							i {color:$colorWhite;}
							p{color:$colorWhite;}
							h2{color:$colorWhite;}
							h3{color:$colorWhite;}
								}
						p,i,h2,h3 {transition:color .5s ease;}
						background-color:$colorWhite;
						color:$colorBlue;
						position:relative;
						bottom:0;
						top:0;
						box-sizing:border-box;
						padding:5%;
						text-align:right;
						p{padding:.4rem 2rem 1rem 2rem;
								color:$colorBlue;
								color:$colorMidnight;
								z-index:10;
								position:relative;
						}
						.iconBox {padding:0 2rem;
							color:$colorBlue;
							display:flex;
							flex-wrap:no-wrap;
							justify-content:flex-end;
							margin:0 auto;}
						i {font-size:2.5rem;
							padding: 0 0 0 1rem;
							z-index:10;	
						}
						
						h2{
							font-style:normal;
							font-size:2.3rem;
							margin-bottom:-5px;
							padding:0 2rem;
							position:relative;
							z-index:10;
							margin-top:16%;
							color:$colorMidnight;
						}
						h3{
							margin:.5rem 0 0 0;
							padding:0 2rem;
							position:relative;
							font-size:1.5rem;
							z-index:10;
							color:$colorMidnight;
						}
						}

			.wordBox:nth-of-type(2n+0)
					{
						text-align:left;
						.iconBox{justify-content:flex-start;
							i{padding:0 1rem 0 0;

								}
							}
					}

}

@media screen and (max-width: 600px) {
  
  .work__wrapper {margin-top:calc(75px + 50vw);
  					pointer-events:none;}

 .workThumbs .wordBox:hover{
		h2,h3,p{color:$colorMidnight;}
		i{color:$colorBlue;}
	}

.workThumbs li:not(.wordBox){
	
	.imageLink{pointer-events:auto;}
	&:hover{

		img{filter:none; 
			}
	}	
	img {
		filter:none;
		transition-delay:0;
		transition:all 0s 0s;}
	.clyde {top:0!important;
			left:0important;
			span {
				button a{pointer-events:auto!important;}
				}
				
			background-color:transparent;}
	
}

.workThumbs li .clyde {background-color:transparent;}


.hero__image{
	padding-top:65px;
}

  body {}
 .binary {
		.binary__image{		
						opacity:0;}
overflow:hidden;
.binary__back {width:100%;
				left:-90%;
				top:5%;
 }

 .binary__typedContainer {
 	left:0px;
 	width:100vw;
 }
}
.work		{	
				.work__thumbs{padding-top:0;
							margin-top:0;}
				padding-top:0;
				.workThumbs li {flex:1 1  100%;
				&:nth-of-type(1) {order:1;}
				&:nth-of-type(2) {order:2;}
				&:nth-of-type(3) {order:4;}
				&:nth-of-type(4) {order:3;}
				&:nth-of-type(5) {order:5;}
				&:nth-of-type(6) {order:6;}
				&:nth-of-type(7) {order:8;}
				&:nth-of-type(8) {order:7;}
				&:nth-of-type(9) {order:9;}
				&:nth-of-type(10) {order:10;}
				.iconBox {margin-bottom:3rem;}

			}

}

}



