
.main {width:100vw;
	   overflow-x:hidden;}

header{

			background:$colorMidnightAlphaDark;
			width:100%;
			margin:0 auto;
			padding:0;
			height:auto;
			display:block;
			position:fixed;
			z-index:20;

.header__navigationBar{
			max-width:1280px;
			width:100%;
			padding:5px 0;
			margin:0 auto;
			left:0;
			right:0;
			display:flex;
			flex-wrap:no-wrap;
			justify-content:space-between;
			width:100%;
			
		}

 h1 {
	color:$colorWhite;
	margin:0;
	padding:0 1.5rem;
	font-weight:900;
	font-size:2rem;
	padding:5px 1.8rem;
 a {
	font-family:$fontClare;
	color:$colorWhite;
	margin:0;
	padding:0;
	font-weight:900;

	span {color:$colorBlueLight;
		  padding:0 6px;}
	}
}

ul.menu {
	
	margin: auto 0;
	padding:0;
	font-size:0;
	height:100%;
	li {
		display: inline-block;
		margin:0;
		padding:0;
		font-size:0;
		
		a {


			margin-right: 10px;
		margin-left: 10px;
			font-size:1rem;
			letter-spacing:2px;
		
			font-family:$fontMain;
			text-transform:uppercase;
			color: $colorWhite;
		
			   @include transition-opt($hover-color:$colorBlueLight,$transition-speed:.3s, $transition-easing: ease-in-out,
			   	 $transition-color:$colorBlueLight);
               @include move-vertical;
		}
		}
	}
}



.menu-icon{
	display:none;
}


@media screen and (max-width: 950px) {
    body {
       
    }

header  {position:fixed;}
header ul.menu{
	
		background:transparent;
		transform:translateY(-350px);
		
		position:absolute;
		right:4rem;
		height:auto;
		border:3px solid $colorMidnightAlpha;
		padding:0;
		
				flex-wrap:wrap;
				
				text-align:right;
				width:300px;
				
				justify-content:space-between;
				li{width:100%;
					background:$colorMidnightAlpha;
					margin:0;
					padding:.5rem 1.5rem;
					color:$colorWhite;
					text-align:center;
					a{font-size:3rem;

					}
					
					}
		}

.menu-icon{
	display:block;
	height: 3em;
	padding: 0.5em;
	width: 3em;
	border-radius: 0.125em;
	
	font-size: 1rem;
	cursor: pointer;
	transition: all .3s ease-out;

	.bar{
		height: 20%;
		margin-bottom: 20%;
		width: 100%;
		border-radius: 0.125em;
		background-color: white;
		pointer-events: none;
		transition: all .3s ease-out;
		&:nth-child(1){
			transform-origin: right bottom;
		}
		&:nth-child(3){
			transform-origin: right top;
		}
		}
}


.openMenu {
	
		ul.menu {
				display:flex;
				transition:all .3s  ease-out;
				box-shadow: -1px 55px 157px -15px rgba(117, 117, 117, 0.73);
				transform:translateY(0px);
		}


.menu-icon{
	
	.bar{
	
		&:nth-child(1){
			transform: translate(-7.5%, 12.5%) rotate(-45deg);
		}
	
		&:nth-child(2){
			opacity:0;
			transform: scale(0.5);
		}
		&:nth-child(3){
			transform: translate(-7.5%, -3.125%) rotate(-315deg);
		}
	}
}
}

}