
.main {width:100vw;
	   overflow-x:hidden;}

header{background:$colorBlackAlphaDark;
		max-width:1280px;
			width:1280px;
			margin:0 auto;
			padding:0;


.header__navigationBar{
			max-width:1280px;
			width:100%;
			
			padding:15px 0;
			margin:0 auto;
			display:flex;
			flex-wrap:no-wrap;
			justify-content:space-between;
			position:fixed;
			z-index:20;
			width:100%;
			background:$colorBlackAlphaDark;
		}

 h1 {
	
	margin:0;
	padding:0 1.5rem;
	

 a {
	font-family: $logo;
	color:$colorWhite;
	margin:0;
	padding:0;
	}
}

ul.menu {
	
	margin: 0;
	padding:0;
	font-size:0;
	li {
		display: inline;
		margin-right: 10px;
		margin-left: 10px;
		a {
			font-size:1.5rem;
			font-family:monospace;
			text-transform:uppercase;
			color: $colorWhite;
			
		&:after{
			content:"_";
			opacity:0;
		}
		&:hover{
			animation: glowing 1.5s ease-in-out infinite alternate;
			&:after{
				animation:blink .7s  infinite;
				
				opacity:1;
			}
		}
		}
	}
}

}

.menu-icon{
	display:none;
}


@media screen and (max-width: 950px) {
    body {
       
    }

header  {position:relative;}
header ul.menu{
	
		background:transparent;
		transform:translateY(-300px);
		
		position:absolute;
		right:4rem;
		
		padding:0;
		
				flex-wrap:wrap;
				
				text-align:right;
				width:300px;
				
				justify-content:space-between;
				li{width:100%;
					background:darken($colorGreen,13%);
					margin:0;
					padding-bottom:1rem;
					padding-right:1.5rem;
					
					font-size:2.5rem;
					&:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3){
					border-bottom: 1px solid darken($colorGreen,10%);
					
						}
					
					}
		}

.menu-icon{
	display:block;
	height: 3em;
	padding: 0.5em;
	width: 3em;
	border-radius: 0.125em;
	
	font-size: 1rem;
	cursor: pointer;
	transition: all .3s ease-out;

	.bar{
		height: 20%;
		margin-bottom: 20%;
		width: 100%;
		border-radius: 0.125em;
		background-color: white;
		pointer-events: none;
		transition: all .3s ease-out;
		&:nth-child(1){
			transform-origin: right bottom;
		}
		&:nth-child(3){
			transform-origin: right top;
		}
		}
}


.openMenu {
	
		ul.menu {
				display:flex;
				transition:all .3s  ease-out;
				box-shadow: -1px 55px 157px -15px rgba(117, 117, 117, 0.73);
				transform:translateY(0px);
		}


.menu-icon{
	
	.bar{
	
		&:nth-child(1){
			transform: translate(-7.5%, 12.5%) rotate(-45deg);
		}
	
		&:nth-child(2){
			opacity:0;
			transform: scale(0.5);
		}
		&:nth-child(3){
			transform: translate(-7.5%, -3.125%) rotate(-315deg);
		}
	}
}
}

}