

.skills {
    width:100%;
    background:$colorWhite;
    position:relative;
    i.fa{color:$colorBlackAlphaMid;}
   
    background-color:$colorWhite;
    .skills__wrapper{
              max-width:1280px;
              margin:0 auto;
              padding:230px 2rem 240px 2rem;
              text-align:center;
              color:$colorBlack;
               h2{
                  font-size:5rem;
                  
                  position:absolute;
                  transform:translateY(-50%);
                }
              .skills__box{
                position:relative;
                z-index:10;
                width:100%;
                display:flex;
                font-size:1.3rem;
                flex-wrap:no-wrap;
                justify-content:space-between;
                .skills__flexItem
                {
                  width:49%;
                  position:relative;
                  z-index:10;
                .tools__list{
                position:relative;
                  &:before{
                    content:"Tools";
                    color:$colorBlue;
                    position:absolute;
                    left:50%;
                    bottom:-9.1rem;
                    transform:translate(-50%,0);
                    text-transform:uppercase;
                    font-weight:900;
                    letter-spacing:-6px;
                    font-size:9.5rem;
                    z-index:-1;
                  }
                }
                .skills__list{
                   position:relative;
                   &:before{
                    content:"Skills";
                    color:$colorMidnight;
                    position:absolute;
                    left:50%;
                    top:-9.62rem;
                    transform:translate(-50%,0);
                    text-transform:uppercase;
                    font-weight:900;
                    letter-spacing:-6px;
                    font-size:9.5rem;
                    z-index:-1;
                  }
                }
                  ul{
                    margin:0;
                    padding:0;
                    list-style-type:none;
                    display:flex;
                    flex-wrap:wrap;
                    
                          li{
                            flex:1 1 auto;
                            padding:1.1rem 1.3rem;
                            background-color:$colorMidnight;
                           color:$colorWhite;
                            margin:3px;
                          }

                    li.tools__listItem--padding {padding:1.1rem 2rem;}
                     }

                }

              .skills__flexItem:nth-of-type(1){
               
                transition:background 1.3s 1.3s ease;

               li{ transform: translateX(-100%) skewX(30deg) scale(.3); 
                opacity:0;
               
               
                color:$colorWhite;
                
              }
              }


               .skills__flexItem:nth-of-type(2){
               
                transition:background 1.3s 1.3s ease;
               li{ transform: translateX(100%) skewX(-30deg) scale(.3);
                opacity:0; 
                      background:$colorBlue;
                 
              }
              }

              }
            
           }
}

.skills.initiateAnimation{


 .skills__wrapper .skills__box  .skills__flexItem:nth-of-type(1)
 {
 

   li{
  animation: inFromLeft 1.4s forwards;
 }

}

.skills__flexItem:nth-of-type(2){ 



  li {
  animation: inFromRight 1.4s forwards;
}
}


}




@keyframes inFromRight {
   0% { 
      transform: translateX(100%) skewX(-30deg) scale(.3); 
      opacity: 0; 
      
   } 
   60% { 
      transform: translateX(-20%) skewX(30deg); 
       
   } 
   80% { 
      transform: translateX(0%) skewX(-15deg); 
      opacity: .3; 
   } 
   100% { 
      transform: translateX(0%) skewX(0deg) scale(1); 
      opacity: 1; 
       
   } 
} 



@keyframes inFromLeft {
   0% { 
      transform: translateX(-100%) skewX(30deg) scale(.3); 
      opacity: 0; 
      
   } 
   60% { 
      transform: translateX(20%) skewX(-30deg); 
      
   } 
   80% { 
      transform: translateX(0%) skewX(15deg); 
      opacity: .3; 
   } 
   100% { 
      transform: translateX(0%) skewX(0deg) scale(1); 
      opacity: 1;
       
   } 
} 

@media screen and (max-width: 700px){

#skills .tools__listItem--padding {padding-right:2.2rem;
                              padding-left:2.2rem;
                            }

  h2  i.fa {opacity:0;}
  .skills .skills__wrapper .skills__box .skills__flexItem{

     ul li {
            padding:1.1rem 1.1rem;
            width:100%}
     
     .skills__list:before{
                    left:100%;
                    top:-8.4rem;
                    font-size:8rem;
                  }
    .tools__list:before{
                    left:0;
                    bottom:-7.95rem;
                    font-size:8rem;
                  }



                }

}
